name: auto-check-build

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: ["canary", "main"]
  pull_request_target:
    types: [opened, synchronize, reopened]
    branches: ["canary", "main"]
  pull_request_review:
    types: [submitted, edited, dismissed]

jobs:
  auto-check-build:
    name: Audit, Lint, and Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --ignore-scripts

      - name: Audit, Lint, and Build
        run: |
          bun audit --audit-level high
          bun run lint
          bun run build
        env:
          SKIP_ENV_VALIDATION: true
          NODE_ENV: production
          NEXT_PUBLIC_APP_URL: https://polyfill.url
          NEXT_PUBLIC_API_URL: https://polyfill.url
